{
  "proseWrap": "never",
  "tabWidth": 4,
  "printWidth": 180,
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.tsx",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
